/* css design file for login */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #4747AC !important; 
}
.maincontainer{
    margin: 0px auto;
    width: 50%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgb(247, 247, 247);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 50px 50px -50px rgb(180, 246, 246);
}

.containers .left .myform {
    flex: 0.5;
    width: 100%;
}

.containers h2 {
    color: #1c1c1e;
    margin-bottom: 20px;
}
.containers .left .myform input {
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 2px solid #1c1c1e;
    margin-bottom: 25px;
    padding: 7px 0;
    font-size: 14px;
}

div.containers .left div.myform button {
    color: white;
    background-color: #1c1c1e;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 500;
}

div.containers div.right{
    flex: 0.5;
    width: 300px;
    padding: 20px;
}
.containers .right .image img {
    width: 250px;
}